<html ng-app="draw2dApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="css/design.css"/>
    <link type="text/css" rel="stylesheet" href="css/contextmenu.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <SCRIPT src="js/shifty.js"></SCRIPT>
    <SCRIPT src="js/raphael.js"></SCRIPT>
    <SCRIPT src="js/jquery-1.10.2.min.js"></SCRIPT>
    <SCRIPT src="js/jquery.autoresize.js"></SCRIPT>
    <SCRIPT src="js/jquery.contextmenu.js"></SCRIPT>
    <SCRIPT src="js/rgbcolor.js"></SCRIPT>
    <SCRIPT src="js/canvg.js"></SCRIPT>
    <SCRIPT src="js/Class.js"></SCRIPT>
    <SCRIPT src="js/json2.js"></SCRIPT>
    <SCRIPT src="js/pathfinding-browser.min.js"></SCRIPT>

    <SCRIPT src="src/draw2d.js"></SCRIPT>
    <script src="js/materialize.min.js"></script>
    <title>MathJunkie</title>
</head>

<body>

<header>
    <div id="headline" class="blue darken-1">
        <h3 class="white-text center-align"><img src="images/Icon.png" class="brand-logo center"/>MathJunkie
        </h3>
    </div>
</header>

<div id="container" class="row" ng-controller="EditorController">
    <div id="wrapper" class="col s10">
        <div class="sidebar-wrapper">
            <div id="palettePane" class="sidebar-nav" draw2d-palette></div>
        </div>
        <div id="page-content-wrapper">
            <div id="toolbar" class="grey lighten-2">
                <a href="#menu-toggle" id="menu-toggle" class="btn-floating waves-effect waves-light blue-grey"><i class="mdi-action-extension"></i></a>
                <button class="btn waves-effect waves-light blue" ng-click="editor.fileOpen()"> Open</button>
                <div class="btn-group">
                    <button class="btn waves-effect waves-light green" ng-disabled="!editor.state.canUndo" ng-click="editor.undo()"> Undo
                    </button>
                    <button class="btn waves-effect waves-light green" ng-disabled="!editor.state.canRedo" ng-click="editor.redo()"> Redo
                    </button>
                    <button class="btn waves-effect waves-light red" ng-disabled="editor.selection.figure==null"
                            ng-click="editor.delete()"> Delete
                    </button>
                </div>
            </div>
            <div id="canvas" draw2d-canvas></div>
        </div>
    </div>

    <div id="propertyPane" class="col s2">
        <div id="propertyHeader" class="highlight panetitle blackgradient">
            Shape Properties
        </div>
        <div id="properties" ng-switch on="editor.selection.className">

            <div ng-switch-when="draw2d.shape.node.Start">
                Start
                <div class="panel panel-default">
                    <div class="panel-heading">Position</div>
                    <div class="panel-body" id="position_panel">
                        <div class="form-group">
                            x: <input class="" type="number" ng-model="editor.selection.attr.x"><br>
                            y: <input class="" type="number" ng-model="editor.selection.attr.y">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="draw2d.shape.node.End">
                End
                <div class="panel panel-default">
                    <div class="panel-heading">Position</div>
                    <div class="panel-body" id="position_panel">
                        <div class="form-group">
                            x: <input class="" type="number" ng-model="editor.selection.attr.x"><br>
                            y: <input class="" type="number" ng-model="editor.selection.attr.y">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<!-- common libs -->
<SCRIPT src="js/angular.min.js"></SCRIPT>
<SCRIPT src="js/jquery.browser.js"></SCRIPT>
<SCRIPT src="js/jquery-ui-1.8.23.custom.min.js"></SCRIPT>
<SCRIPT src="js/ui-bootstrap-tpls-0.11.2.min.js"></SCRIPT>

<!-- draw2d directrives. Possibly belongs in the future to Draw2d -->
<SCRIPT src="src/directrives/draw2d.js"></SCRIPT>
<SCRIPT src="src/directrives/canvas.js"></SCRIPT>
<SCRIPT src="src/directrives/palette.js"></SCRIPT>

<!-- appliction specific coding -->
<SCRIPT src="src/app.js"></SCRIPT>
<SCRIPT src="src/factories/DemoData.js"></SCRIPT>
<SCRIPT src="src/factories/FileFactory.js"></SCRIPT>
<SCRIPT src="src/controllers/EditorController.js"></SCRIPT>
<SCRIPT src="src/controllers/FileOpenController.js"></SCRIPT>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</html>